<!DOCTYPE html>
<html>
  <head>
    <title>Kazu's Rails Heroku Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag "flydata_logo.png", width: 80 %>
    <hr>
    <%= yield %>
  </body>
</html>
